@use 'sass:math';
@import './breakpoints';
/*
screen types: 
    mobile,
    to-tablet
    tablet,
    to-desktop
    desktop,
*/
@mixin media($key, $type: min) {
  $value: map-get($breakpoints, $key);

  @if $value != null {
    @media screen and (#{$type}-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$key}` not found in $breakpoints map.";
  }
}

@mixin font($fsz, $lnh) {
  font-size: #{$fsz}px;

  $lh-multiplier: math.div($lnh, $fsz);
  $rounded-lh: math.div(math.round($lh-multiplier * 100), 100);

  line-height: $rounded-lh;
}
