/* #region Clear Styles */

html,
body {
  scroll-behavior: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
  color: currentColor;
}

input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* #endregion */
/* #region Container */
.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @include media(desktop) {
    max-width: 1200px;
    padding: 0 80px;
  }
}

/* #endregion */
/* #region Visually Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion */
