$black: #000000;
$dark-green: #214206;
$dirty-white: #fbfbfb;
$forest: #0a2007;
$golden: #a15b00;
$green: #306604;
$hover-green: #5c7846;
$light-gold: #ffb14c;
$light-gray: #f2f2f2;
$orange: #ff9000;
$transparent: rgba(0, 0, 0, 0);
$white: #ffffff;
