body {
  box-shadow: 0 4px 4px 0 rgba(118, 166, 196, 0.2);
  margin: 0 auto;

  &.menu-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1202px;
  }
}

.header {
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  &__box {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 320px;
    height: 109px;
    padding: 24px 16px 0;
    box-shadow: 0 4px 4px 0 rgba(118, 166, 196, 0.2);
    background: radial-gradient(
      circle at top left,
      #76a6c4 -90%,
      #dde9f0 10%,
      #f1f6f9 30%,
      $white 100%
    );
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__logo {
    margin-left: 101px;
    width: 100px;
    height: 85px;
  }

  &__modal {
    position: fixed;
    top: 0;
    right: 0;
    // width: 100%;
    width: calc(320px * 1 + 50% - 160px);
    min-height: 100vh;
    background-color: $dirty-white;
    border-radius: 12px 0 0 12px;
    display: none;
    flex-direction: column;
    padding: 10rem 18px 0 32px;
    opacity: 0;
    z-index: 99;

    &--open {
      display: flex;
      opacity: 1;
    }
  }

  &__burger-menu {
    position: relative;
    margin-left: 58px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    z-index: 1005;
    cursor: pointer;

    &--open {
      .header__burger-line:nth-child(1) {
        transform: translateY(4.8px) rotate(50deg);
      }
      .header__burger-line:nth-child(2) {
        opacity: 0;
      }
      .header__burger-line:nth-child(3) {
        transform: translateY(-11px) rotate(-50deg);
      }
    }
  }

  &__burger-line {
    width: 44px;
    height: 2px;
    border-radius: 4px;
    background-color: $black;
    transition: transform 0.25s ease-in;
  }

  &__modal-list,
  &__nav-list {
    color: $white;
    display: flex;
    flex-wrap: wrap;
    max-width: 245px;
    gap: 8px;
  }

  &__nav {
    display: none;
  }

  &__nav-list {
    gap: 20px;
    display: block;
  }

  &__modal-item,
  &__nav-item {
    background-color: $green;
    color: $white;
    border-radius: 15px;
    padding: 10px 16px 6px;
    height: 38px;
    transition: scale 0.25s ease-in, color 0.25s ease-in;

    &:hover {
      box-shadow: 0 4px 4px 0 $shadow-default;
      background: $hover-green;
    }

    &:active {
      box-shadow: 0 4px 4px 0 $shadow-default;
      background: $dark-green;
    }

    &:hover,
    &:focus {
      scale: 1.07;
    }
  }

  @media screen and (min-width: 1200px) {
    &__box {
      padding: 15.5px 80px;
      max-width: 1200px;
    }

    &__logo {
      margin-left: 0 !important;
    }

    &__burger-menu {
      display: none;
    }

    &__nav {
      display: block;
    }

    &__modal {
      display: none;
    }

    &__nav-list {
      display: flex;
      gap: 8px;
      color: $white;
      flex-wrap: wrap;
      max-width: 1200px;
    }
  }
}
