.whispers__wrapper {
  padding-top: 48px;
  @media (min-width: 1200px) {
    padding-top: 0;
  }
}
.whispers__title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: $orange;
  margin-bottom: 8px;
  position: relative;
  &::before {
    content: 'Listen to the Whispers of the Tiles';
    position: absolute;
    top: 0;
    left: auto;
    z-index: -1;
    text-align: center;
    font-size: 32x;
    color: $orange;
    -webkit-text-stroke: 2px $golden;
  }
  @media (min-width: 1200px) {
    font-size: 32px;
    font-weight: 600;
  }
  &::before {
    content: 'Listen to the Whispers of the Tiles';
    font-size: 64x;
  }
}

.whispers__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: $forest;
}

.whispers__image {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (min-width: 1200px) {
  .whispers__wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 1019px;
    max-height: 358px;
  }
  .wrapper__text {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    max-height: 134px;
  }
  .whispers__title {
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: $orange;
    margin-bottom: 24px;
  }

  .whispers__text {
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $forest;
  }

  .whispers__image {
    display: flex;
    width: 333px;
    height: 358px;
  }
}
