.gardens__section {
  display: flex;
  max-width: 320px;
  margin: auto;
  padding-top: 20px;
}
.gardens__title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: $orange;
  margin-bottom: 8px;
  margin-top: 18px;
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: auto;
    z-index: -1;
    text-align: center;
    font-size: 32x;
    color: $orange;
    -webkit-text-stroke: 2px $golden;
  }
  @media (min-width: 1200px) {
    font-size: 32px;
    font-weight: 700;
    margin-top: 65px;
  }
  &::before {
    content: "Uncover the Garden's Treasures";
    font-size: 64x;
  }
}

.gardens__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: $forest;
}

.gardens__image {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-top: 18px;
  z-index: 1;
}

.gardens__image::before {
  content: '';
  position: absolute;
  width: 350px;
  height: 350px;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 102, 153, 0.3) 0%,
    rgba(0, 102, 153, 0) 70%
  );

  filter: blur(5px);
  transform: rotate(-25deg);
  z-index: -1;
  top: -80px;
  left: -70px;
  pointer-events: none;
  transform: none;
}

.gardens__green {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gardens__wrapper {
    display: flex;
    justify-items: center;
  }

  .gardens__title {
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: $orange;
  }

  .gardens__text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    text-align: start;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $forest;
  }

  .gardens__image {
    margin-left: 120px;
    width: 333px;
    height: 358px;
    margin-top: 24px;
    justify-content: flex-start;
  }

  // .gardens__image::before {
  //   content: '';
  //   position: absolute;
  //   width: 750px;
  //   height: 250px;
  //   background: radial-gradient(
  //     ellipse at center,
  //     rgba(0, 102, 153, 0.3) 0%,
  //     rgba(0, 102, 153, 0) 70%
  //   );
  //   filter: blur(5px);
  //   transform: rotate(-5deg);
  //   z-index: -1;
  //   top: 100px;
  //   left: -480px;
  //   pointer-events: none;
  // }
  .gardens__green {
    display: flex;
    width: 266px;
    height: 446px;
  }
  .gardens__section {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: auto;
    &::before {
      position: absolute;
      content: '';
      background-image: url('/img/02-hero/hero_vector@desktop1x.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 250px;
      width: 340px;
      transform: translate(660px, 160px);
      @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('/img/02-hero/hero_vector@desktop2x.png');
      }
    }
  }
}
