.section__moments {
  background-image: url('/img/05-moments/mob-tree.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.moments__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
}

.moments__tree {
  width: 100%;
  height: 431px;
}

.moments__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 274px;
  max-height: 72px;
  margin-top: 20px;
  text-align: center;
  align-self: center;
}
.moments__title {
  font-family: inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $white;
}
.moments__description {
  font-family: inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $white;
}
.moments__image {
  display: flex;
  max-width: 164px;
  max-height: 206px;
}

@media screen and (min-width: 1200px) {
  .section__moments {
    margin-top: 65px;
    align-items: flex-end;
    background-image: url('/img/05-moments/desktop-tree.png');
    background-repeat: no-repeat;
  }

  section .moments__container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
  }

  .moments__tree {
    display: flex;
    justify-content: space-between;
    height: 731px;
    width: auto;
  }

  .moments__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 546px;
    max-height: 147px;
    text-align: start;
    margin: 80px 0 auto 0;
    text-align: left;
    transform: translateX(80px);
  }
  .moments__title {
    font-family: inter, sans-serif;
    font-weight: 900;
    font-size: 32px;
    color: $white;
  }
  .moments__description {
    font-family: inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $white;
  }
  .moments__image {
    display: flex;
    max-width: 371px;
    max-height: 433px;
    align-self: flex-end;
  }
}
