section.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: $black;

  background: radial-gradient(
    105.2% 86.23% at 50% 93.75%,
    #76a6c4 0%,
    #dde9f0 50.57%,
    #f1f6f9 77.64%,
    #fff 100%
  );
  padding-bottom: 24px;
  margin-top: 20px;

  @media (min-width: 1200px) {
    margin-top: 56px;
    padding: 0 120px 19px 120px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: radial-gradient(
      114.99% 92.08% at 51.29% 100%,
      #76a6c4 0%,
      #dde9f0 50.57%,
      #f1f6f9 77.64%,
      #fff 100%
    );

    font-size: 20px;
  }
}

.footer-logo-link {
  margin-bottom: 8px;
}

.google-play-btn {
  filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.5));
  width: 150px;
  border-radius: 3px;
  @media (min-width: 1200px) {
    width: 204px;
    // border-radius: 3px;
  }
  &:hover,
  :focus {
    filter: brightness(1.3) drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.5));
  }
  &:active {
    filter: grayscale(2) drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.5));
  }
}
.footer-terms-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 1200px) {
    align-items: start;
    font-weight: 500;
    font-size: 18px;
  }
}
.copyright {
  width: 100%;
  @media (min-width: 1200px) {
    span {
      font-style: italic;
    }
    .footer-copyright-link {
      font-size: 18px;
    }
  }
}
