<section class="header">
  <div class="progress-bar"></div>
  <picture>
    <source
      srcset="../img/01-header/logo.avif 1x, ../img/01-header/logo@2x.avif 2x"
      type="image/avif"
    />
    <img
      class="header__logo"
      src="../img/01-header/logo.avif"
      alt="Logo"
      loading="lazy"
    />
  </picture>
  <nav class="nav">
    <ul class="nav__list">
      <li><a href="#home" class="scroll-link">Home</a></li>
      <li>
        <a href="#whispers" class="scroll-link">Whispers of the Tiles</a>
      </li>
      <li>
        <a href="#gardens" class="scroll-link">The Garden's Treasures</a>
      </li>
      <li><a href="#moments" class="scroll-link">Moments of Calm</a></li>
      <li><a href="#plant" class="scroll-link">Plant Your Seed</a></li>
    </ul>
  </nav>
  <button class="burger" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="mobile-menu">
    <button class="close-btn" aria-label="Close menu">&times;</button>
    <ul>
      <li><a href="#home" class="scroll-link">Home</a></li>
      <li>
        <a href="#whispers" class="scroll-link">Whispers of the Tiles</a>
      </li>
      <li>
        <a href="#gardens" class="scroll-link">The Garden's Treasures</a>
      </li>
      <li><a href="#moments" class="scroll-link">Moments of Calm</a></li>
      <li><a href="#plant" class="scroll-link">Plant Your Seed</a></li>
    </ul>
  </div>
</section>
