<header class="header">
  <div class="header__box">
    <div class="header__wrapper">
      <a href="./index.html" class="header__logo-link">
        <picture>
          <source
            srcset="/img/01-header/logo.png 1x, /img/01-header/logo@2x.png 2x"
          />
          <img class="header__logo" src="/img/01-header/logo.png" alt="logo" />
        </picture>
      </a>
      <button class="header__burger">
        <span class="header__burger-menu" id="burgerMenu">
          <span class="header__burger-line"></span>
          <span class="header__burger-line"></span>
          <span class="header__burger-line"></span>
        </span>
      </button>
      <div class="header__modal">
        <ul class="header__modal-list">
          <li class="header__modal-item"><a data-target="home">Home</a></li>
          <li class="header__modal-item">
            <a data-target="whispers">Whispers of the Tiles</a>
          </li>
          <li class="header__modal-item">
            <a data-target="gardens">The Garden's Treasures</a>
          </li>
          <li class="header__modal-item">
            <a data-target="moments">Moments of Calm</a>
          </li>
          <li class="header__modal-item">
            <a data-target="plant">Plant Your Seed</a>
          </li>
        </ul>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a data-target="home">Home</a></li>
          <li class="header__nav-item">
            <a data-target="whispers">Whispers of the Tiles</a>
          </li>
          <li class="header__nav-item">
            <a data-target="gardens">The Garden's Treasures</a>
          </li>
          <li class="header__nav-item">
            <a data-target="moments">Moments of Calm</a>
          </li>
          <li class="header__nav-item">
            <a data-target="plant">Plant Your Seed</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
