<section id="gardens" class="gardens__section">
  <div class="gardens__wrapper container">
    <div class="gardens__text">
      <h2 class="gardens__title">Uncover the Garden's Treasures</h2>
      <p class="gardens__text">
        Explore tiles adorned with nature's beauty: delicate flowers, smooth
        stones, and calming patterns. Each one adds to the garden's serene charm
      </p>
    </div>
    <picture class="gardens__image">
      <source
        srcset="
          ../img/04-garden/desktop-garden.png    1x,
          ../img/04-garden/desktop-garden@2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ../img/04-garden/mob-garden.png    1x,
          ../img/04-garden/mob-garden@2x.png 2x
        "
        type="image/png"
      />
      <img src="../img/04-garden/mob-garden.png" alt="Logo" loading="lazy" />
    </picture>
  </div>
</section>
