<section data-section="moments" class="section__moments">
  <div class="moments__container moments__tree">
    <div class="moments__content">
      <h3 class="moments__title">Find Moments of Calm in Your Day</h3>
      <p class="moments__description">
        Let the garden's gentle puzzles soothe your mind. Take a break, relax,
        and find your inner peace with every match.
      </p>
    </div>
    <picture class="moments__image">
      <source
        srcset="
          /img/05-moments/desktop-woman.png    1x,
          /img/05-moments/desktop-woman@2x.png 2x
        "
        media="(min-width: 1200px)"
      />

      <source
        srcset="
          /img/05-moments/mob-woman.png    1x,
          /img/05-moments/mob-woman@2x.png 2x
        "
        type="image/png"
      />
      <img src="/img/05-moments/mob-woman.png" alt="" loading="lazy" />
    </picture>
  </div>
</section>
