<section data-section="plant" class="plant">
  <div class="section">
    <h2 class="plant-title">Start your journey in the secret garden</h2>
    <p class="plant-description" data="content">
      Download Zen Match and plant your seed of tranquility
    </p>
  </div>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slide 3 -->
      <!-- 
      <div class="swiper-slide">
        <picture loading="lazy">
          <source
            media="(max-width: 320px)"
            srcset="
              /img/06-plant/img3@mob1x.png 1x,
              /img/06-plant/img3@mob2x.png 2x
            "
          />

          <source
            media="(min-width: 1200px)"
            srcset="
              /img/06-plant/img3@desktop1x.png 1x,
              /img/06-plant/img3@desktop2x.png 2x
            "
          />

          <img
            class="plant-swiper-img"
            src="/img/06-plant/img3@mob1x.png"
            srcset="
              /img/06-plant/img3@mob1x.png 1x,
              /img/06-plant/img3@mob2x.png 2x
            "
            alt="Match & Relax"
            width="250"
            height="513"
          />
        </picture>
      </div> -->

      <!-- Slide 1 -->

      <div class="swiper-slide">
        <picture loading="lazy">
          <source
            media="(max-width: 320px)"
            srcset="
              /img/06-plant/img1@mob1x.png 1x,
              /img/06-plant/img1@mob2x.png 2x
            "
          />

          <source
            media="(min-width: 1200px)"
            srcset="
              /img/06-plant/img1@desktop1x.png 1x,
              /img/06-plant/img1@desktop2x.png 2x
            "
          />

          <img
            class="plant-swiper-img"
            src="/img/06-plant/img1@mob1x.png"
            srcset="
              /img/06-plant/img1@mob1x.png 1x,
              /img/06-plant/img1@mob2x.png 2x
            "
            alt="Unlock Rewards"
            width="250"
            height="513"
          />
        </picture>
      </div>

      <!-- Slide 2 -->

      <div class="swiper-slide">
        <picture loading="lazy">
          <source
            media="(max-width: 320px)"
            srcset="
              /img/06-plant/img2@mob1x.png 1x,
              /img/06-plant/img2@mob2x.png 2x
            "
          />

          <source
            media="(min-width: 1200px)"
            srcset="
              /img/06-plant/img2@desktop1x.png 1x,
              /img/06-plant/img2@desktop2x.png 2x
            "
          />

          <img
            class="plant-swiper-img"
            src="/img/06-plant/img2@mob1x.png"
            srcset="
              /img/06-plant/img2@mob1x.png 1x,
              /img/06-plant/img2@mob2x.png 2x
            "
            alt="Match Tiles"
            width="250"
            height="513"
          />
        </picture>
      </div>

      <!-- Slide 3 -->

      <div class="swiper-slide">
        <picture loading="lazy">
          <source
            media="(max-width: 320px)"
            srcset="
              /img/06-plant/img3@mob1x.png 1x,
              /img/06-plant/img3@mob2x.png 2x
            "
          />

          <source
            media="(min-width: 1200px)"
            srcset="
              /img/06-plant/img3@desktop1x.png 1x,
              /img/06-plant/img3@desktop2x.png 2x
            "
          />

          <img
            class="plant-swiper-img"
            src="/img/06-plant/img3@mob1x.png"
            srcset="
              /img/06-plant/img3@mob1x.png 1x,
              /img/06-plant/img3@mob2x.png 2x
            "
            alt="Match & Relax"
            width="250"
            height="513"
          />
        </picture>
      </div>

      <!-- Slide 4 -->

      <div class="swiper-slide">
        <picture loading="lazy">
          <source
            media="(max-width: 320px)"
            srcset="
              /img/06-plant/img4@mob1x.png 1x,
              /img/06-plant/img4@mob2x.png 2x
            "
          />

          <source
            media="(min-width: 1200px)"
            srcset="
              /img/06-plant/img4@desktop1x.png 1x,
              /img/06-plant/img4@desktop2x.png 2x
            "
          />

          <img
            class="plant-swiper-img"
            src="/img/06-plant/img4@mob1x.png"
            srcset="
              /img/06-plant/img4@mob1x.png 1x,
              /img/06-plant/img4@mob2x.png 2x
            "
            alt="Solve Puzzles"
            width="250"
            height="513"
          />
        </picture>
      </div>

      <!-- Slide 5 -->

      <div class="swiper-slide">
        <picture loading="lazy">
          <source
            media="(max-width: 320px)"
            srcset="
              /img/06-plant/img5@mob1x.png 1x,
              /img/06-plant/img5@mob2x.png 2x
            "
          />

          <source
            media="(min-width: 1200px)"
            srcset="
              /img/06-plant/img5@desktop1x.png 1x,
              /img/06-plant/img5@desktop2x.png 2x
            "
          />

          <img
            class="plant-swiper-img"
            src="/img/06-plant/img1@mob1x.png"
            srcset="
              /img/06-plant/img5@mob1x.png 1x,
              /img/06-plant/img5@mob2x.png 2x
            "
            alt="Stress Relief"
            width="250"
            height="513"
          />
        </picture>
      </div>

      <!-- Slide 2 -->

      <!-- <div class="swiper-slide">
        <picture loading="lazy">
          <source
            media="(max-width: 320px)"
            srcset="
              /img/06-plant/img2@mob1x.png 1x,
              /img/06-plant/img2@mob2x.png 2x
            "
          />

          <source
            media="(min-width: 1200px)"
            srcset="
              /img/06-plant/img2@desktop1x.png 1x,
              /img/06-plant/img2@desktop2x.png 2x
            "
          />

          <img
            class="plant-swiper-img"
            src="/img/06-plant/img2@mob1x.png"
            srcset="
              /img/06-plant/img2@mob1x.png 1x,
              /img/06-plant/img2@mob2x.png 2x
            "
            alt="Match Tiles"
            width="250"
            height="513"
          />
        </picture>
      </div> -->
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
    <a
      target="_blank"
      href="https://play.google.com/store/apps/details?id=com.exoticmatch.game&hl=en&gl=us"
      class="plant-btn"
      >Begin Your Garden Journey</a
    >
  </div>
</section>
