<section class="container footer">
  <a class="footer-logo-link" href="https://trailblisshero.com/">
    <picture>
      <source
        media="(max-width: 320px)"
        srcset="
          ../img/07-footer/logo1x@mob.png 1x,
          ../img/07-footer/logo2x@mob.png 2x
        "
      />

      <source
        media="(min-width: 1200px)"
        srcset="
          ../img/07-footer/logo1x@desktop.png 1x,
          ../img/07-footer/logo2x@desktop.png 2x
        "
      />

      <img
        class="footer-logo"
        src="../img/07-footer/logo1x@mob.png"
        srcset="
          ../img/07-footer/logo1x@mob.png 1x,
          ../img/07-footer/logo2x@mob.png 2x
        "
        alt="Zen Match"
      />
    </picture>
  </a>
  <a
    href="https://play.google.com/store/apps/details?id=com.exoticmatch.game&hl=en&gl=us"
    class="footer-play-link"
    target="_blank"
  >
    <img
      class="google-play-btn"
      src="../img/07-footer/GetItOnGooglePlay_Badge_Web_color_English.png"
      alt="Get it on Google Play"
  /></a>
  <ul class="footer-terms-list">
    <li class="footer-terms-item">
      <a href="./privacy.html" class="item-link">Privacy Policy</a>
    </li>
    <li class="footer-terms-item">
      <a href="./terms.html" class="item-link">Terms & Conditions</a>
    </li>
    <li class="footer-terms-item">
      <a href="./cookies.html" class="item-link">Cookies Policy</a>
    </li>
  </ul>
  <p class="copyright">
    <span>All rights reserved ©2025</span>

    <a href="https://trailblisshero.com/" class="footer-copyright-link"
      >trailblisshero.com</a
    >
  </p>
</section>
