<section class="cookies">
  <div class="overlayy"></div>
  <div class="cookies-popup">
    <div class="cookies-popup-wrapper">
      <div class="cookies-popup-text">
        <h2 class="cookies-popup-title">Cookies Policy</h2>
        <p class="cookies-popup-dscr">
          We use cookies to improve your experience on our website. By browsing
          this website, you agree to our use of cookies.
        </p>
      </div>
      <div class="cookies-popup-buttons">
        <button class="cookies-popup-btn accept" type="button">
          ACCEPT COOKIES
        </button>
        <button class="cookies-popup-btn decline" type="button">
          DECLINE COOKIES
        </button>
      </div>
    </div>
  </div>
</section>
